{
    "rules": {
        "no-console": 1,
        "prefer-destructuring": 1,
        "arrow-body-style": 1,
        "comma-dangle": 2
    },
    "env": {
        "commonjs": true,
        "node": true,
        "mocha": true
    }
}
