{
    "rules": {
        "no-console": "error",
        "prefer-destructuring": "error",
        "arrow-body-style": "error",
        "comma-dangle": ["error", "always-multiline"]
    },
    "env": {
        "commonjs": true,
        "node": true,
        "mocha": true
    }
}
